*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'haarlem_deco_demoregular';
    src: url('./fonts/haarlem_deco_demo-webfont.woff2') format('woff2'),
         url('./fonts/haarlem_deco_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    font-family: 'Calibri';
    background-color: #572713;
    color: #572713;
}


/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    background-color: #572713;
    /*transform: translateY(-50%);
    animation: slideDown .5s ease forwards 1s*/

}
/*@keyframes slideDown{
    to{
        transform: translateY(0)
    }
}*/
#arrow{
    width: 1.7em;
    height: 1.7em;
    transform: rotate(180deg);
    margin-left: 2.5%;
    margin-top: 2.5%;

}
#arrow img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#basket{
    width: 1.7em;
    height: 1.7em;
    margin-right: 2.5%;
    margin-top: 2.5%;
}
#basket img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* HEADER */

header{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff9eb;
    border-radius: 100px 100px 0 0;
    border-top: dotted #572713 2px;
    box-sizing: border-box;
    /*transform: translateY(100%);
    animation: slide .8s ease forwards;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);*/
}
/*@keyframes slide{
    to{
        transform: translateY(0)
    }
}*/
#lavague{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 5em;
    background: linear-gradient(#fff9eb 99%, #F6C68D 1%)
}
#lavague img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Logo composition gaufre */

#logo-compose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    transform: translateY(-50%) translateX(50%);

}
#logo-compose img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 6em;
    margin: auto;
    transform: translateY(-30%);

}
h1{
    width: 90%;
    font-size: 1.8em;
    text-align: center;
    font-family: 'haarlem_deco_demoregular';
    margin: 0;
    
}
#description p{
    width: 90%;
    text-align: center;
    font-size: .8em;
    font-stretch: extra-expanded;
    margin: 0;
   
}
.separation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%; 
}
.separation img{
    width: 30px;
    height: 30px;
}
.separation hr{
    border: none;
    width: 30%;
    height: 1px;
    margin: 5%;
    margin: 0;
    background-color: #572713
}
#separation2{
    margin: auto;
}




#flash{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 5em;

  
}

#flash img{
    position: absolute;
    width: 15%;
    height: 40%;
    left: 0%;
    top: -7%;
    transform: rotate(10deg);

}
#flash img:nth-child(n+3){

    top: inherit;
    left:inherit;
    right: 20%;
    bottom: -20%;
    height: fit-content;
    width: 10%;
    transform: rotate(-40deg);
    
    
}
#flash p{
    width: 80%;
    font-size: .8em;
    text-align: right;
    margin: 0;
    padding: 0;
    border-radius: 48% 52% 48% 52% / 50% 68% 32% 50%;
    padding: 5%;
    
}
#flash p span{
    
    border-radius: 48% 52% 48% 52% / 50% 68% 32% 50%;
    font-weight: bold;

}
#flash p span:nth-child(n+3){
    background-image: linear-gradient(to top, #F6C68D 40%, transparent -0%);
    font-weight: bolder;
    font-size: 1.5em;
    border-radius: 0;
    padding: 2%;
    
}

.pate{
    width: 100%;
    height: 10em;

}

.pate p{
    font-size: 1em;
    font-weight: lighter;
    font-style: italic;
    width: fit-content;
    margin-top: 10%;
    margin-left: 10%;





}

.flechePoint{
    width: 100%;
    height: 10em;
}

.flechePoint img{
    width: 20%;
    height: 100%;
    margin-right: 20%;
}

#ah{
    margin-left:  20%;


}



.bloc{
    position: relative;
    width: 100%;
    height: 13em;
    margin: auto;
    margin-bottom: 5em;
}
.bloc::after{
    position: absolute;
    content: '';
    width: 95%;
    height: 1px;
    left: 2.5%;
    background-color: #572713;
}


.up{
    display: flex;
    height: 3em;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #572713;
    border-top: 1px solid #572713;
    padding-left: 2.5%;
    

}
.numero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 3em;
    
    
   
}
.numero p{
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
}
.titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
    
}
h2{
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Times New Roman';

}
.titre p{
    font-style: italic;
    font-size: .8em;
    transform: rotate(4deg);
    margin-right: 5%;
    background-color: #F6C68D;

}
.down{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10em;
    overflow: scroll;

    

}
::-webkit-scrollbar {
    display: none;
}
ul{
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 2.5%;
    
   

}
li{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7.5em;
    height: 7.5em;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease;

}
li:not(:last-child){
    margin-right: 2.5em;
}
li::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    left: 8.75em;
    background-color: #572713
}
.image-ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.image-ingredient img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.titre-ingredient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}
.titre-ingredient p{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px; 
    font-size: .8em;
    transition: .3s ease;  
    margin: 0;
    padding: 0;
}
.titre-ingredient span{

    font-size: .6em;
    font-style: italic;
    letter-spacing: 0;
    font-weight: lighter;
}




.active, .active2, .active3{
    background-color: #f6c78da4;
    border: none;
}


#image-fleche{
    position: absolute;
    left: 10%;
    bottom: -12%;
    width: 30%;
    transform: rotate(-10deg);
    
}
#image-fleche img{
    width: 80%;
    height: 10%;

}


/* Panier */

footer{
    height: 25em;
    width: 100%;
    color: #572713;
    background-color: #F6C68D;
    background-image: url(./images/Vector.svg);
    background-repeat: no-repeat;
    background-position: -70% 150%;
    background-size: 70%;


     
}




#panier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 20em;  
    
}

#up{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 20%;
    margin-bottom: 1em;
    
}
h3{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-family: 'haarlem_deco_demoregular';
    font-size: 2.2em;

}
#down{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 55%;

}
.bloc-cart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 33%;
}
.bloc-cart:nth-child(3){
    margin-bottom: 1em;
}

.bloc-cart-titre{
    display: flex;
    align-items:center;
    justify-content: right;;
    width: 50%;
    height: 35%;

    
}

.bloc-cart-titre p{
    font-weight: bolder;
    margin: 0.1em;
}
#cart1, #cart2, #cart3, #cart4{
    width: 100%;
    height: 65%;
    font-size: .9em;
    text-align: right;;
}




#ajout-panier{
    display: flex;
    width: 100%;
    height: 4em;
    background-color: #572713;
    color: #F6C68D;
}
#ajouter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 60%;
    height: 100%;
}
#ajouter p{
    display: flex;
    align-items: center;
    margin: 0;
    height: 60%;
    font-style: italic;
}
#ajouter img{
    width: 15%;
    transform: rotate(5deg) translateX(50%)
}
#bouton-panier{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    
}
#bouton-panier button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    outline: none;
    border: none;
    background-color: #F6C68D;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.336);
    
}
#bouton-panier button p{
    color:#572713;
    font-weight: bolder;
    margin: 0;
    margin-right: 10%;
}
#bouton-panier button img{

    height: 50%;
    object-fit: contain;
}


main{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    background-color: white;
    border: black 5px solid;;
}
.cart-row{
    display: flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 5em;
    background-color: orange;
    border: 2px solid red
}